<div class="container-fluid">
<div class="row">
  <div class="col-3 col-md-2 bg-dark full-height sidebar">
    <div class="sidebar-content">
      <input type="text" class="form-control sidebar-form" placeholder="Enter a username" required />
    </div>
  </div>
  <div class="col-9 col-md-10 bg-light full-height">
    <div class="container-fluid">
      <div class="chat-box py-2">
        <% @messages.each do |message| %>
          <div class="col-12">
            <div class="chat bg-secondary d-inline-block text-left text-white mb-2">
              <div class="chat-bubble">
                <p class="m-0 chat-message"><%= message.message %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="chat-text-input">
        <%= form_with(model: @message, remote: true, format: :json, id: 'chat-form') do |form| %>
          
          <div class="field position-relative">
            
            <input id="message" class="form-control" required disabled="disabled" type="text" name="message" />
            <input type="hidden" name='sender_id'  value='0'>
            <input type="hidden" name='sender_model'  value='student' >
            <input type="hidden" name='receiver_id'  value='1' >
            <input type="hidden" name='receiver_model'  value='student'>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>