<p id="notice"><%= notice %></p>

  <h4>Description:</h4>
  <%= @assignment.name %>
<br/>
<br/>

  <h4>Deadline:</h4>
  <%= @assignment.deadline %>
<br/>
<br/>

  <h4>Course:</h4>
  <%= @assignment.course_id %>
