<h1>Editing Assignmentstaffstudent</h1>

<%= render 'form', assignmentstaffstudent: @assignmentstaffstudent %>

<%= link_to 'Show', @assignmentstaffstudent %> |
<%= link_to 'Back', assignmentstaffstudents_path %>
