@font-face {
    font-family:'SEGOEUI';
    src:font-url('SEGOEUI.TTF');
}

@font-face {
    font-family:'SEGOEUIB';
    src:font-url('SEGOEUIB.TTF');
}

@font-face {
    font-family:'SEGUISB';
    src:font-url('SEGUISB.TTF');
}