.sidebar {
    background-color: #A9262C;
    padding-right: 0;
    padding-left: 0;
    height: 100vh;
    text-align: center;
    color: #fff;
    .logo {
        padding-top: 15px;
        margin-bottom: 70px;
        padding-left: 30px;
        
    }
    .logo:hover {
        background-color: #A9262C;
    }
    ul {
        font-size: 18px;
        // font-family: 'SEGUISB';
        li {
            list-style-type: none;
            margin-bottom: 25px;
            a {
                color: #fff;
                text-decoration: none;
            }
            a:link {
                color: #fff;
            }
            a:hover {
                color: #fff;
                background-color: #A9262C;
                text-decoration: underline;
            }
        }
    }
}